SiExpress/App_WebReferences/Estafeta/Tracking/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.estafeta.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.estafeta.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.estafeta.com/">
      <s:element name="ExecuteQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="suscriberId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchType" type="tns:SearchType" />
            <s:element minOccurs="0" maxOccurs="1" name="searchConfiguration" type="tns:SearchConfiguration" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="waybillRange" type="tns:WaybillRange" />
          <s:element minOccurs="0" maxOccurs="1" name="waybillList" type="tns:WaybillList" />
          <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WaybillRange">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="initialWaybill" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="finalWaybill" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WaybillList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="waybillType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="waybills" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchConfiguration">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="includeDimensions" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="includeWaybillReplaceData" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="includeReturnDocumentData" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="includeMultipleServiceData" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="includeInternationalData" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="includeSignature" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="includeCustomerInfo" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="historyConfiguration" type="tns:HistoryConfiguration" />
          <s:element minOccurs="0" maxOccurs="1" name="filterType" type="tns:Filter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HistoryConfiguration">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="includeHistory" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="historyType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Filter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="filterInformation" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="filterType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteQueryResult" type="tns:QueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QueryResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errorCodeDescriptionSPA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errorCodeDescriptionENG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="trackingData" type="tns:ArrayOfTrackingData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTrackingData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TrackingData" nillable="true" type="tns:TrackingData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TrackingData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="waybill" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shortWaybillId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serviceId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serviceDescriptionSPA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serviceDescriptionENG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="packageType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="additionalInformation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="statusSPA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="statusENG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pickupData" type="tns:PickupData" />
          <s:element minOccurs="0" maxOccurs="1" name="deliveryData" type="tns:DeliveryData" />
          <s:element minOccurs="0" maxOccurs="1" name="dimensions" type="tns:Dimensions" />
          <s:element minOccurs="0" maxOccurs="1" name="waybillReplaceData" type="tns:WaybillReplaceData" />
          <s:element minOccurs="0" maxOccurs="1" name="returnDocumentData" type="tns:ReturnDocumentData" />
          <s:element minOccurs="0" maxOccurs="1" name="multipleServiceData" type="tns:MultipleServiceData" />
          <s:element minOccurs="0" maxOccurs="1" name="internationalData" type="tns:InternationalData" />
          <s:element minOccurs="0" maxOccurs="1" name="customerInfo" type="tns:CustomerInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="history" type="tns:ArrayOfHistory" />
          <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PickupData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="originAcronym" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pickupDateTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliveryData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="destinationAcronym" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="destinationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="deliveryDateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiverName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Dimensions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="weight" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="volumetricWeight" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="width" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="length" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="height" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WaybillReplaceData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="originalWaybill" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="replaceWaybill" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReturnDocumentData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="initialWaybill" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="finalWaybill" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MultipleServiceData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="precedingWaybills" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="followingWaybills" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="waybillList" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InternationalData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="internationalWaybill" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originCountrySPA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originCountryENG" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="costsCentre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHistory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="History" nillable="true" type="tns:History" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="History">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="eventDateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eventId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eventDescriptionSPA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eventDescriptionENG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eventPlaceAcronym" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eventPlaceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="exceptionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="exceptionCodeDescriptionSPA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="exceptionCodeDescriptionENG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="exceptionCodeDetails" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ExecuteQuery">
      <wsdl:input message="tns:ExecuteQuerySoapIn" />
      <wsdl:output message="tns:ExecuteQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteQuery">
      <soap:operation soapAction="http://www.estafeta.com/ExecuteQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteQuery">
      <soap12:operation soapAction="http://www.estafeta.com/ExecuteQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://tracking.estafeta.com/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://tracking.estafeta.com/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>